.card-nota {
    align-items:flex-start;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: var(--fundo-detalhes);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
}

.card-nota__cabecalho {
    font-size: 1.1.rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .1rem;
}

.card-nota__titulo {
    font-size: 1.2rem;
    margin-right: 12px;
}

.card-nota__texto {
    margin-top: .3rem;
    font-size: 1rem;
}


